<ion-view id="title" class="app-selector">
    <ion-nav-bar class="bar-stable">
        <ion-nav-title><span class="title" name="appSelector-title" translate="OCF.APP_SELECTION.TITLE"></span></ion-nav-title>
        <ion-header-bar>
            <!--<ion-nav-buttons side="left" ng-class="{'backbutton-hide': !showBackButton}">
                <button class="button button-icon button-clear button-dark" ng-class="{'backbutton-hide': !showBackButton}"
                        ng-click="goToPreviousState()"
                        name="gdcSelector-backButton"><i class="fa fa-angle-left"></i></button>
            </ion-nav-buttons>-->

        </ion-header-bar>
    </ion-nav-bar>

    <ion-content>
        <div id="app-list">
            <div name="option-value-{{app.appName}}" class="row item"
                 ng-repeat="app in apps"
                 ng-click="selectListAppItem(app.appCacheName, apps)"
                 ng-class="{'active': app.selected}">
                <div class="col col-10">
                    <i class="fa fa-circle-o unchecked" ng-if="!app.selected"></i>
                    <i class="fa fa-circle checked" ng-if="app.selected"></i>
                </div>
                <div class="col">{{app.appName}}</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="footer">
        <div class="row">
            <div class="col col-100 continue text-center"
                 name="gdc-continueButton"
                 ng-click="selectApp()">
                <span translate="OCF.APP_SELECTION.BUTTON_CONTINUE"></span>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
