.ng-animate .scroll-bar {
  visibility: visible !important;
}

.scroll-bar-fade-out{
  opacity:1 !important
}

.scroll-bar-v {
  width: 8px !important;
}
.scroll-bar-indicator {
  background-color: rgba(0, 0, 0, 0.2);
}
